<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Caleb Strapi Cloud</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--# if expr="$status = 502" -->
      <meta http-equiv="refresh" content="2">
    <!--# endif -->
  </head>
<body>

<div class="flex min-h-screen flex-col bg-white lg:relative">
  <div class="flex flex-grow flex-col">
    <main class="flex flex-grow flex-col bg-white">
      <div class="mx-auto flex w-full max-w-7xl flex-grow flex-col px-4 sm:px-6 lg:px-8">
        <div class="flex-shrink-0 pt-10 sm:pt-16">
          <a href="/" class="inline-flex">
            <span class="sr-only">Caleb Strapi Cloud</span>
            <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47 40" fill="none">
                <path fill="#4f46e5" d="M23.5 6.5C17.5 6.5 13.75 9.5 12.25 15.5C14.5 12.5 17.125 11.375 20.125 12.125C21.8367 12.5529 23.0601 13.7947 24.4142 15.1692C26.6202 17.4084 29.1734 20 34.75 20C40.75 20 44.5 17 46 11C43.75 14 41.125 15.125 38.125 14.375C36.4133 13.9471 35.1899 12.7053 33.8357 11.3308C31.6297 9.09158 29.0766 6.5 23.5 6.5ZM12.25 20C6.25 20 2.5 23 1 29C3.25 26 5.875 24.875 8.875 25.625C10.5867 26.0529 11.8101 27.2947 13.1642 28.6693C15.3702 30.9084 17.9234 33.5 23.5 33.5C29.5 33.5 33.25 30.5 34.75 24.5C32.5 27.5 29.875 28.625 26.875 27.875C25.1633 27.4471 23.9399 26.2053 22.5858 24.8307C20.3798 22.5916 17.8266 20 12.25 20Z"/>
                <defs>
                    <linearGradient id="%%GRADIENT_ID%%" x1="33.999" x2="1" y1="16.181" y2="16.181" gradientUnits="userSpaceOnUse">
                        <stop stop-color="%%GRADIENT_TO%%"/>
                        <stop offset="1" stop-color="%%GRADIENT_FROM%%"/>
                    </linearGradient>
                </defs>
            </svg> -->
          </a>
        </div>
        <div class="my-auto flex-shrink-0 py-16 sm:py-32">
          <p class="text-base font-semibold text-indigo-600"><!--# echo var="status" --></p>
          <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Server Maintenance</h1>
          <p class="mt-2 text-base text-gray-500">We are performing scheduled maintenance. We should be back online shortly.</p>
          <div class="mt-6">
           
          </div>
        </div>
      </div>
    </main>
    <footer class="flex-shrink-0 bg-gray-50">
      <div class="mx-auto w-full max-w-7xl px-4 py-16 sm:px-6 lg:px-8">
        <nav class="flex space-x-4">
          <a href="#" class="text-sm font-medium text-gray-500 hover:text-gray-600">Contact Support</a>
          <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
          <a href="#" class="text-sm font-medium text-gray-500 hover:text-gray-600">Status</a>
          <span class="inline-block border-l border-gray-300" aria-hidden="true"></span>
          <a href="#" class="text-sm font-medium text-gray-500 hover:text-gray-600">Twitter</a>
        </nav>
      </div>
    </footer>
  </div>
  <div class="hidden lg:absolute lg:inset-y-0 lg:right-0 lg:block lg:w-1/2">
    <img class="absolute inset-0 h-full w-full object-cover" src="https://cataas.com/cat" alt="">
    <!-- <img class="absolute inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1470847355775-e0e3c35a9a2c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1825&q=80" alt=""> -->
  </div>
</div>

</body>
</html>