server {
    server_name {{ strapi_domain }};

    # Proxy Config
    proxy_set_header Host $http_host;
    proxy_pass_request_headers on;

    location / {
        proxy_pass http://localhost:1338;
    }
}

server {
    if ($host = {{ strapi_domain }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    listen [::]:80;

    server_name {{ strapi_domain }};

    return 404; # managed by Certbot
}